/* ---------- secties ---------- */
section {
  padding: var(--byz-space-24) 6vw;
  max-width: 71.875rem;
  margin: 0 auto;
  position: relative
}

section.vol {
  max-width: none;
  padding-left: 0;
  padding-right: 0
}

.sectiekop {
  text-align: center;
  margin-bottom: var(--byz-space-16)
}

.sectiekop .tag {
  color: var(--rood);
  font-family: var(--script);
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.2rem
}

.sectiekop h2 {
  font-size: clamp(1.7rem, 3.4vw, 2.5rem);
  font-weight: 800;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: .03em
}

.sectiekop p {
  color: var(--wit-zacht);
  max-width: 37.5rem;
  margin: 0.75rem auto 0
}

.sectiekop::after {
  content: "";
  display: block;
  width: 8.75rem;
  height: 1.5rem;
  margin: 1.25rem auto 0;
  opacity: .9;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 24'><path d='M8 12 H132' stroke='%23FF3347' stroke-width='1.6' stroke-linecap='round' fill='none'/><g fill='%237FD8BE'><ellipse cx='34' cy='7' rx='8' ry='3.2' transform='rotate(-28 34 7)'/><ellipse cx='54' cy='17' rx='8' ry='3.2' transform='rotate(28 54 17)'/><ellipse cx='72' cy='6' rx='8' ry='3.2' transform='rotate(-28 72 6)'/><ellipse cx='90' cy='18' rx='8' ry='3.2' transform='rotate(28 90 18)'/><ellipse cx='108' cy='7' rx='8' ry='3.2' transform='rotate(-28 108 7)'/></g></svg>") no-repeat center/contain
}
