/* ---------- ferns (botanical decoration) ---------- */
svg.fern {
  position: absolute;
  width: 13.125rem;
  height: 18.75rem;
  opacity: .15;
  pointer-events: none;
  z-index: 1;
  overflow: visible
}

svg.fern.left {
  left: 1.5vw;
  bottom: -0.625rem
}

svg.fern.right {
  right: 1.5vw;
  bottom: -0.625rem;
  transform: scaleX(-1)
}

@media(max-width:56.25rem) {
  svg.fern {
    display: none
  }
}
